body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
  text-align: right;
  font-family: vazir-medium;
}

header {
  margin: 30px 0;
}
.content {
  padding: 20px;
}
.main-content {
  background-color: white;
  padding: 30px 30px 20px 30px;
  border-radius: 20px;
}
.budget p {
  margin-bottom: 0;
  font-weight: bold;
}
.budget p span {
  font-weight: normal;
}
#expenses {
  margin-bottom: 10px;
  padding: 5px 0;
}
#expense ul {
  list-style-type: disc;
}
.margin-5 {
  margin: 0 0 5px 0;
}
h1 {
  font-weight: 100;
  color: white;
}
h2 {
  font-weight: 100;
  color: #004e92;
  font-size: 22px;
  margin-bottom: 30px;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Bold-FD.eot");
  src: url("Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Bold-FD.woff2") format("woff2"),
    url("Vazir-Bold-FD.woff") format("woff"),
    url("Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir-bold;
  src: url("Vazir-Black-FD.eot");
  src: url("Vazir-Black-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Black-FD.woff2") format("woff2"),
    url("Vazir-Black-FD.woff") format("woff"),
    url("Vazir-Black-FD.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir-medium;
  src: url("Vazir-Medium-FD.eot");
  src: url("Vazir-Medium-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Medium-FD.woff2") format("woff2"),
    url("Vazir-Medium-FD.woff") format("woff"),
    url("Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Light-FD.eot");
  src: url("Vazir-Light-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Light-FD.woff2") format("woff2"),
    url("Vazir-Light-FD.woff") format("woff"),
    url("Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Thin-FD.eot");
  src: url("Vazir-Thin-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Thin-FD.woff2") format("woff2"),
    url("Vazir-Thin-FD.woff") format("woff"),
    url("Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.mt-0-8 {
  margin-top: 0.8rem !important;
}

.badge {
  font-size: 13px;
}
